.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  justify-content: space-between;
  width: 100%;
  padding: 0.8em;
  
  background: var(--dark-bg);
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease;
 
}

.header__menu-btn svg {
  width: 1.75rem;
  height: 1.75rem;
  transform: translateY(0.18rem); /* For Centering the SVG */
}

.header__logo a {
  display: flex;
  align-items: center;
  gap: 0.25em;

  svg {
    transform: translateY(0.16rem); /* For Centering the SVG */
  }
  span {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
  }
}

.header__nav-cta {
  background: var(--gradient-primary);
  padding: 0.25rem 0.75rem;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(var(--box-shadow-color), 0.3);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(var(--box-shadow-color), 0.4);
  }
}
